force-app/main/default/flows/Collection_Seed_Test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_To_Collection</name>
        <label>Add To Collection</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>inputCounterCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>incrementer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Done</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Do_Increment</name>
        <label>Do Increment</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>incrementer</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Done</name>
        <label>Done?</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Do_Increment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Done_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>incrementer</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>inputCount</elementReference>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Collection Seed Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Collection Seed Test</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Do_Increment</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>incrementer</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>inputCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>inputCounterCollection</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
