force-app/main/default/flows/Create_New_Game.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Random_Number_for_Sequence</name>
        <label>Get Random Number for Sequence</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <actionName>Inv_GetRandomNumber</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Init_New_Player</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Player_to_Collection</name>
        <label>Add Player to Collection</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>newPlayerCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newPlayer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_New_Players</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_New_Player</name>
        <label>Init New Player</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>newPlayer.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Players.playerLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newPlayer.Sequence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Random_Number_for_Sequence</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newPlayer.Game__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Insert_Game</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Player_to_Collection</targetReference>
        </connector>
    </assignments>
    <description>2024-09-20 - convert properties to CMD and reference subflow to create game properties
2022-09-29 - checked &quot;Is Current Turn&quot; field
V2 - refactored Get Next Player to Subflow</description>
    <dynamicChoiceSets>
        <name>userChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Create New Game {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New Game</label>
    <loops>
        <name>Loop_New_Players</name>
        <label>Loop New Players</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>newPlayerRepeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Random_Number_for_Sequence</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Players</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_First_Turn</name>
        <label>Insert First Turn</label>
        <locationX>176</locationX>
        <locationY>1298</locationY>
        <inputAssignments>
            <field>Game__c</field>
            <value>
                <elementReference>Insert_Game</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsCurrentTurn__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Player__c</field>
            <value>
                <elementReference>Get_Next_Player.nextPlayer.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Turn__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_Game</name>
        <label>Insert Game</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>s3</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Game__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_Players</name>
        <label>Insert Players</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Insert_Game_Properties2</targetReference>
        </connector>
        <inputReference>newPlayerCollection</inputReference>
    </recordCreates>
    <screens>
        <name>s3</name>
        <label>s3</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_New_Players</targetReference>
        </connector>
        <fields>
            <name>dt3</name>
            <fieldText>&lt;p&gt;WELCOME TO FORCEOPOLY.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>newPlayerRepeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>playerLookup</name>
                <extensionName>flowruntime:lookup</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>fieldApiName</name>
                    <value>
                        <stringValue>User__c</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>label</name>
                    <value>
                        <stringValue>Select Player User...</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>objectApiName</name>
                    <value>
                        <stringValue>Player__c</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>maxValues</name>
                    <value>
                        <numberValue>1.0</numberValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Insert_Game</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Next_Player</name>
        <label>Get Next Player</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Insert_First_Turn</targetReference>
        </connector>
        <flowName>Get_Next_Player</flowName>
        <inputAssignments>
            <name>gameId</name>
            <value>
                <elementReference>Insert_Game</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Insert_Game_Cards</name>
        <label>Insert Game Cards</label>
        <locationX>176</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Get_Next_Player</targetReference>
        </connector>
        <flowName>Insert_Game_Cards</flowName>
        <inputAssignments>
            <name>gameId</name>
            <value>
                <elementReference>Insert_Game</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Insert_Game_Properties2</name>
        <label>Insert Game Properties</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Insert_Game_Cards</targetReference>
        </connector>
        <flowName>Insert_Game_Properties</flowName>
        <inputAssignments>
            <name>gameId</name>
            <value>
                <elementReference>Insert_Game</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>newGamePropertiesCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GameProperty__c</objectType>
    </variables>
    <variables>
        <name>newGameProperty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GameProperty__c</objectType>
    </variables>
    <variables>
        <name>newPlayer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Player__c</objectType>
    </variables>
    <variables>
        <name>newPlayerCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Player__c</objectType>
    </variables>
    <variables>
        <name>noMorePlayersShortCircuit</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>playerSlots</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
