force-app/main/default/flows/Create_New_Game.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Game_Property_to_Collection</name>
        <label>Add Game Property to Collection</label>
        <locationX>264</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>newGamePropertiesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newGameProperty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Properties</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Player_to_Collection</name>
        <label>Add Player to Collection</label>
        <locationX>528</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>newPlayerCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newPlayer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Player_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_Game_Property</name>
        <label>Init Game Property</label>
        <locationX>264</locationX>
        <locationY>1886</locationY>
        <assignmentItems>
            <assignToReference>newGameProperty.Game__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Insert_Game</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newGameProperty.Property__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Properties.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Game_Property_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_New_Player</name>
        <label>Init New Player</label>
        <locationX>528</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>newPlayer.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>userLookup_0.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newPlayer.Sequence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Player_Count</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newPlayer.Game__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Insert_Game</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Player_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Load_Player_Slots</name>
        <label>Load Player Slots</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>playerSlots</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>playerSlots</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>playerSlots</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>playerSlots</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>playerSlots</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>playerSlots</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>playerSlots</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>playerSlots</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>s3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_No_More_Players_Short_Circuit</name>
        <label>Set No More Players Short Circuit</label>
        <locationX>264</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>noMorePlayersShortCircuit</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Player_Count</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>No_More_Players</name>
        <label>No More Players?</label>
        <locationX>396</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Init_New_Player</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_More_Players_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>No_more_players_please</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>noMorePlayersShortCircuit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_No_More_Players_Short_Circuit</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_More_Players_Before</name>
        <label>No More Players (Before)</label>
        <locationX>396</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>s1_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_More_Players_Before_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>noMorePlayersShortCircuit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_More_Players</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>2022-09-29 - checked &quot;Is Current Turn&quot; field
V2 - refactored Get Next Player to Subflow</description>
    <dynamicChoiceSets>
        <name>userChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Create New Game {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New Game</label>
    <loops>
        <name>Loop_Player_Count</name>
        <label>Loop Player Count</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <collectionReference>playerSlots</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>No_More_Players_Before</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Players</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Properties</name>
        <label>Loop Properties</label>
        <locationX>176</locationX>
        <locationY>1766</locationY>
        <collectionReference>Get_Properties</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Init_Game_Property</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Game_Properties</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_First_Turn</name>
        <label>Insert First Turn</label>
        <locationX>176</locationX>
        <locationY>2462</locationY>
        <inputAssignments>
            <field>Game__c</field>
            <value>
                <elementReference>Insert_Game</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsCurrentTurn__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Player__c</field>
            <value>
                <elementReference>Get_Next_Player.nextPlayer.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Turn__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_Game</name>
        <label>Insert Game</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Load_Player_Slots</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Game__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_Game_Properties</name>
        <label>Insert Game Properties</label>
        <locationX>176</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Get_Next_Player</targetReference>
        </connector>
        <inputReference>newGamePropertiesCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Players</name>
        <label>Insert Players</label>
        <locationX>176</locationX>
        <locationY>1526</locationY>
        <connector>
            <targetReference>Get_Properties</targetReference>
        </connector>
        <inputReference>newPlayerCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Properties</name>
        <label>Get Properties</label>
        <locationX>176</locationX>
        <locationY>1646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Properties</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Property__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>s1_0</name>
        <label>s1</label>
        <locationX>484</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>No_More_Players</targetReference>
        </connector>
        <fields>
            <name>dt1_0</name>
            <fieldText>&lt;p&gt;PICK YER PLAYERS.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;SELECT PLAYER {!Loop_Player_Count}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>No_more_players_please</name>
            <dataType>Boolean</dataType>
            <fieldText>No more players, please.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loop_Player_Count</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>2.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>s1_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s1_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>userLookup_0</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select a User to Play...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Player__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>User__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newPlayer.Piece__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>No_more_players_please</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Loop_Player_Count</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>2.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>s3</name>
        <label>s3</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Player_Count</targetReference>
        </connector>
        <fields>
            <name>dt3</name>
            <fieldText>&lt;p&gt;WELCOME TO FORCEOPOLY.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Insert_Game</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Next_Player</name>
        <label>Get Next Player</label>
        <locationX>176</locationX>
        <locationY>2342</locationY>
        <connector>
            <targetReference>Insert_First_Turn</targetReference>
        </connector>
        <flowName>Get_Next_Player</flowName>
        <inputAssignments>
            <name>gameId</name>
            <value>
                <elementReference>Insert_Game</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>newGamePropertiesCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GameProperty__c</objectType>
    </variables>
    <variables>
        <name>newGameProperty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GameProperty__c</objectType>
    </variables>
    <variables>
        <name>newPlayer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Player__c</objectType>
    </variables>
    <variables>
        <name>newPlayerCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Player__c</objectType>
    </variables>
    <variables>
        <name>noMorePlayersShortCircuit</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>playerSlots</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
