force-app/main/default/flows/Evaluate_Game_Property_Monopoly.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Incoming_Record_0</name>
        <label>Add Incoming Record</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Load_Other_Game_Properties</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>receivedGameProperty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Record_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_Is_Monopoly_0</name>
        <label>Check Is Monopoly</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Loop_Records.IsMonopoly__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Record_Count</name>
        <label>Get Record Count</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>recordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Load_Other_Game_Properties</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Uncheck_Is_Monopoly</name>
        <label>Uncheck Is Monopoly</label>
        <locationX>528</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Loop_Records.IsMonopoly__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Correct_Record_Count_0</name>
        <label>Correct Record Count</label>
        <locationX>396</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Uncheck_Is_Monopoly</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Correct_Record_Counts_Yes_0</name>
            <conditionLogic>1 OR (2 AND (3 OR 4))</conditionLogic>
            <conditions>
                <leftValueReference>recordCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>receivedGameProperty.PropertyColor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>#8b4513</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>receivedGameProperty.PropertyColor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>#0000FF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Is_Monopoly_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Evaluate Game Property Monopoly {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Evaluate Game Property Monopoly</label>
    <loops>
        <name>Loop_Records</name>
        <label>Loop Records</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <collectionReference>Load_Other_Game_Properties</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Correct_Record_Count_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Load_Other_Game_Properties</name>
        <label>Load Other Game Properties</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Incoming_Record_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>receivedGameProperty.Owner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PropertyColor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>receivedGameProperty.Property__r.Color__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>receivedGameProperty.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GameProperty__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records</name>
        <label>Update Records</label>
        <locationX>176</locationX>
        <locationY>1070</locationY>
        <inputReference>Load_Other_Game_Properties</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Load_Other_Game_Properties</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Game Property that was bought or traded to evaluate against other Game Properties for a Monopoly.</description>
        <name>receivedGameProperty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>GameProperty__c</objectType>
    </variables>
    <variables>
        <name>recordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
