force-app/main/default/flows/Game_Card_Set_Game_Property_Field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <description>Set Game Property Lookup field based on shared property metadata name value.</description>
    <interviewLabel>Game Card : Set {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Game Card : Set Game Property Field</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Game_Property_By_Metadata_Record_Name</name>
        <label>Get Game Property By Metadata Record Name</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Game_Property_Field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PropertyMetadataName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CardPropertyMetadataName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GameProperty__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Game_Property_Field</name>
        <label>Set Game Property Field</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>GameProperty__c</field>
            <value>
                <elementReference>Get_Game_Property_By_Metadata_Record_Name.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Game_Property_By_Metadata_Record_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CardPropertyMetadataName__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>GameCard__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
