force-app/main/default/flows/Get_Next_Player.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_Next_Player_1</name>
        <label>Set Next Player 1</label>
        <locationX>242</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>nextPlayer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Next_Player_1</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Next_Player_2</name>
        <label>Set Next Player 2</label>
        <locationX>506</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>nextPlayer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Next_Player_2</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Current_Player_Null</name>
        <label>Current Player Null?</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Get_Next_Player_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_Player_Null_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentPlayer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Next_Player_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found</name>
        <label>Found?</label>
        <locationX>374</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Get_Next_Player_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nextPlayer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Next_Player_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Get Next Player {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Next Player</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Next_Player_1</name>
        <label>Get Next Player 1</label>
        <locationX>374</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sequence__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>currentPlayer.Sequence__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Game__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>gameId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>currentPlayer.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Player__c</object>
        <sortField>Sequence__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Next_Player_2</name>
        <label>Get Next Player 2</label>
        <locationX>506</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Next_Player_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Game__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>gameId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Player__c</object>
        <sortField>Sequence__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Current_Player_Null</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentPlayer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Player__c</objectType>
    </variables>
    <variables>
        <name>gameId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nextPlayer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Player__c</objectType>
    </variables>
</Flow>
