force-app/main/default/flows/Pay_Rent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_To_Collection</name>
        <label>Add To Collection</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>playerCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>player</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>playerCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Load_Owner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Players</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pay</name>
        <label>Pay</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>player.Money__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>gameProperty.Rent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Load_Owner.Money__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>gameProperty.Rent__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Pay Rent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pay Rent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Load_Owner</name>
        <label>Load Owner</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pay</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>gameProperty.Owner__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Player__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Money__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Players</name>
        <label>Update Players</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <inputReference>playerCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Load_Owner</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>gameProperty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>GameProperty__c</objectType>
    </variables>
    <variables>
        <name>player</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Player__c</objectType>
    </variables>
    <variables>
        <name>playerCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Player__c</objectType>
    </variables>
</Flow>
