force-app/main/default/flows/Roll.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Math_random_0</name>
        <label>Math.random</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>ApexFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Seed_Loop_Collection</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>className</name>
            <value>
                <stringValue>math</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>methodName</name>
            <value>
                <stringValue>random</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Do_Add</name>
        <label>Do Add</label>
        <locationX>528</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>loopCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>incrementLoopCounter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Init_Loop_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Exit</name>
        <label>Exit</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>value</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Seed_Loop_Collection</name>
        <label>Seed Loop Collection</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>loopCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Init_Loop_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Return_Value</name>
        <label>Set Return Value</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Init_Loop_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exit</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Add_to_Loop_Collection</name>
        <label>Add to Loop Collection?</label>
        <locationX>660</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Init_Loop_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_to_Loop_Collection_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Init_Loop_Collection</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>sides</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_Add</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Random_In_Range</name>
        <label>Random In Range?</label>
        <locationX>462</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Add_to_Loop_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Random_In_Range_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>randomInRange</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Return_Value</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>incrementLoopCounter</name>
        <dataType>Number</dataType>
        <expression>{!Init_Loop_Collection} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>randomInRange</name>
        <dataType>Boolean</dataType>
        <expression>{!Math_random_0.decimalValue} &lt;= ({!Init_Loop_Collection} / {!sides})</expression>
    </formulas>
    <interviewLabel>Roll Dice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Roll</label>
    <loops>
        <name>Init_Loop_Collection</name>
        <label>Init Loop Collection</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>loopCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Random_In_Range</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Exit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Math_random_0</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>loopCollection</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>sides</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>value</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
