force-app/main/default/flows/Shuffle_Game_Cards.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Game_Card_to_Collection</name>
        <label>Add Game Card to Collection</label>
        <locationX>264</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>gameCardCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>gameCard</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cards</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Card_Count</name>
        <label>Get Card Count</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>cardCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Load_Cards</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cards</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_Game_Card</name>
        <label>Init Game Card</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>gameCard.Card__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Cards.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>gameCard.Game__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>game.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>gameCard.Sequence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sequence_Number.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Game_Card_to_Collection</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Shuffle Game Cards {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Shuffle Game Cards</label>
    <loops>
        <name>Loop_Cards</name>
        <label>Loop Cards</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <collectionReference>Load_Cards</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Sequence_Number</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Record_Type_Id</name>
        <label>Get Record Type Id</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Load_Cards</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Card__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cardRecordType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Load_Cards</name>
        <label>Load Cards</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Card_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record_Type_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Card__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type_Id</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Get_Sequence_Number</name>
        <label>Get Sequence Number</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Init_Game_Card</targetReference>
        </connector>
        <flowName>Roll</flowName>
        <inputAssignments>
            <name>sides</name>
            <value>
                <elementReference>cardCount</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>cardCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>cardRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>game</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Game__c</objectType>
    </variables>
    <variables>
        <name>gameCard</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GameCard__c</objectType>
    </variables>
    <variables>
        <name>gameCardCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>GameCard__c</objectType>
    </variables>
</Flow>
