force-app/main/default/flows/Take_Turn.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_Position_to_Formula</name>
        <label>Set Position to Formula</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>position</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calculatePosition</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Load_Game_Property_by_Position</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Position_to_Roll</name>
        <label>Set Position to Roll</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>position</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Load_Turn.Roll__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Load_Game_Property_by_Position</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Roll_Results</name>
        <label>Set Roll Results</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Load_Turn.Roll__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rollTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Load_Turn.IsRollDouble__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rollDouble</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>First_Turn</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>First_Turn</name>
        <label>First Turn?</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Set_Position_to_Formula</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Turn_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Load_Turn.PreviousPlayerTurn__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Position_to_Roll</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>calculatePosition</name>
        <dataType>Number</dataType>
        <expression>IF(
   {!Load_Turn.Roll__c} + {!Load_Turn.PreviousPlayerTurn__r.GameProperty__r.Property__r.Position__c} &gt; 40,
   ({!Load_Turn.Roll__c} + {!Load_Turn.PreviousPlayerTurn__r.GameProperty__r.Property__r.Position__c}) - 40,
   {!Load_Turn.Roll__c} + {!Load_Turn.PreviousPlayerTurn__r.GameProperty__r.Property__r.Position__c}
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>rollDouble</name>
        <dataType>Boolean</dataType>
        <expression>{!Roll_Dice_1.value} == {!Roll_Dice_2.value}</expression>
    </formulas>
    <formulas>
        <name>rollTotal</name>
        <dataType>Number</dataType>
        <expression>{!Roll_Dice_1.value} + {!Roll_Dice_2.value}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Take Turn {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Take Turn</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Load_Game_Property_by_Position</name>
        <label>Load Game Property by Position</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PropertyPosition__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>position</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GameProperty__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Load_Turn</name>
        <label>Load Turn</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>s1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Turn__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>s1</name>
        <label>s1</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Roll_Dice_1</targetReference>
        </connector>
        <fields>
            <name>dt1</name>
            <fieldText>&lt;p&gt;YOUR TURN! CLICK NEXT TO ROLL.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Load_Turn</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Roll_Dice_1</name>
        <label>Roll Dice 1</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Roll_Dice_2</targetReference>
        </connector>
        <flowName>Roll</flowName>
        <inputAssignments>
            <name>sides</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Roll_Dice_2</name>
        <label>Roll Dice 2</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Set_Roll_Results</targetReference>
        </connector>
        <flowName>Roll</flowName>
        <inputAssignments>
            <name>sides</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>position</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
